
<html>
    <head>
      {% if title %}
      <title>{{ title }} - chatApp</title>
      {% else %}
      <title>Welcome to chatApp</title>
      {% endif %}
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('main.index') }}">index</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('main.profile') }}">{{ current_user.username }}</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        {% if g.search_form %}
                <form  method="get"
                        action="{{ url_for('main.search') }}">
                        {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                </form>
                {% endif %}
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
