{% extends "base.html" %}
{% block content%}
<div id="msg">

</div>
<form id="formid" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=32) }}<br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

    var interval = 400;
    function sendMessage(event) {
        event.preventDefault();
        var msg=String($("#message").val());
        msg =msg.trim();
        if (msg !== "")
        {
            let message ={ 'message':msg };
        
            $.ajax({
                'url': "{{ url_for('main.chat',channelid=channelid) }}", 
                'method': "POST", 
                'data': JSON.stringify(message),
                'contentType': 'application/json',
                'success': function(data) {
                    var messageElement =document.createElement('p');
                    messageElement.innerHTML=data['message'];
                    document.getElementById('msg').appendChild(messageElement);
                    document.getElementById('message').value = '';
                    recvMessage()
                }
            });
        }
    }
    
    function recvMessage(event) {
        $.ajax({
            'url': "{{ url_for('main.get_all_channel_messages',channelid=channelid) }}",
            'type': "GET",
            'success': function(data) {
                $("#msg").html(data);          
            },
            'complete': function(result) {
                setTimeout(recvMessage, interval);
            }
        });
    }

    $(document).ready(function() {
        $("#message").keypress(function(e) {
            var temp = document.getElementById('message').value;
            var inputData = String(temp);
            if (e.keyCode == 13 && inputData !== "") {
                sendMessage(event);   
            }
        });
        $("#submit").click(sendMessage);
        setTimeout(recvMessage, interval);
    });
</script>
{% endblock %}