{% extends "base.html" %}
{% set active_page = "index" %}
{% block app_content %}
        <h1>channel</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.channelname.label }}<br>
                {{ form.channelname(size=32) }}<br>
                {% for error in form.channelname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
        <h4>Channels</h4>
    {% for channel in channels %}
        <p><a href="{{ url_for('main.chat',channelid=channel.id) }}">{{channel.channelname}}</a></p>
    {% endfor %}
    <button id="download" onclick="download()">download</button>
    <a id="hidden-download" href="{{ url_for('main.download_file') }}" style="display: none;">download</a>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script>
        var interval= 400;
        function download (event){
            $.ajax({
                'url': "{{ url_for('main.download') }}",
                'type': "GET",
                'success': function(j,data,request) {
                    status=request.getResponseHeader('url');

                    taskCheckfinal(status);

                }
            });
        }
        function taskCheckfinal(status){
            $.ajax({
            'url': status,
            'type': "GET",
            'success': function(data) {
                if (data['state']=='SUCCESS'){
                    document.getElementById('hidden-download').click();
                }
                else{
                    taskCheckfinal(status);
                }
            }
               
        });
        }
   



    </script>
    {% endblock %}
